app:
  cors:
    allowed-origins:
      - "http://localhost:5173"
      - "http://127.0.0.1:5173"
  frontend:
    base-url: "http://localhost:5173"
    verify-path: "/"
    unsubscribe-path: "/unsubscribe-confirmation"

feature:
  suppressionCheckEnabled: true

security:
  email:
    hmac-pepper-b64: ${HMAC_PEPPER_B64:FVl9pBApQ2LgzIvgi7P/zMcc6BKoopvS}
    aes-key-b64:  ${AES_KEY_B64:8c2So7nkW7FInwpQfQYsk6NHg+9FJPxGSd701VXjSnQ=}
    legacy-peppers-b64: ${HMAC_LEGACY_PEPPERS_B64:}
  auth:
    dummy-bcrypt-hash: ${DUMMY_BCRYPT_HASH:$2a$10$u5m1eR4h1Vn0l2G0pC7l3u7b9vXl9lN8mTt4l7t0rQkN1G0u8Hh6C}

aws:
  region: ap-southeast-1
  endpoint: ${AWS_ENDPOINT:http://localhost:4566}

spring:
  application:
    name: ph-shoes-user-account-service
  mvc:
    problemdetails:
      enabled: false
  devtools:
    restart:
      enabled: true

server:
  error:
    include-stacktrace: never
    include-message: always

jwt:
  issuer: ph-shoes
  secret: change-me-dev-only
  accessTtlSeconds: 3600

auth:
  lock:
    maxFailures: 5
    durationSeconds: 900

logging:
  level:
    root: INFO

notification:
  transport: smtp
  smtp:
    host: mailhog
    port: 1025
    auth: false
    starttls: false
    connectionTimeoutMillis: 2000
    readTimeoutMillis: 2000
    writeTimeoutMillis: 2000
  email:
    from: "PH Shoes (DEV) <no-reply@local.test>"
    subjectPrefix: "[PH-Shoes DEV]"
    listUnsubscribe: "<mailto:unsubscribe@local.test>"
    listUnsubscribePost: "List-Unsubscribe=One-Click"

verification:
  ttlSeconds: 900
  verificationLink: http://localhost:8082/api/v1/verify/email
  notMeLink: http://localhost:8082/api/v1/verify/email/not-me
  unsubscribeLink: http://localhost:8082/api/v1/user-accounts/unsubscribe

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    persistAuthorization: true

schema:
  auto-create: true

phshoes:
  api:
    rate-limit:
      enabled: true
      default-window: 24h
      global:
        enabled: true
        limit: 500
      per-ip:
        enabled: true
        limit: 50
      per-user:
        enabled: true
        limit: 20
      routes:
        - name: signup-create
          pattern: /api/v1/user-accounts
          methods: [POST]
          per-user:
            enabled: true
            limit: 3
            window: 30m
        - name: verification-resend
          pattern: /api/v1/verify/email/resend
          methods: [POST]
          per-user:
            enabled: true
            limit: 3
            window: 30m
