app:
  cors:
    allowed-origins:
      - "https://phshoesproject.com"
      - "https://www.phshoesproject.com"
      - "https://ph-shoes-frontend.onrender.com"
    allowed-methods: [GET,POST,PUT,PATCH,DELETE,OPTIONS]
    allowed-headers: [Authorization,Content-Type]
    exposed-headers: [Authorization,Content-Type]
    allow-credentials: true
    max-age: 3600
  frontend:
    base-url: "https://phshoesproject.com/"
    verify-path: "/"
    unsubscribe-path: "/unsubscribe"

spring:
  application:
    name: ph-shoes-user-account-service
  mvc:
    problemdetails:
      enabled: false
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties: { }

security:
  email:
    hmac-pepper-b64: ${HMAC_PEPPER_B64}
    aes-key-b64: ${AES_KEY_B64}
  auth:
    dummy-bcrypt-hash: ${DUMMY_BCRYPT_HASH}

management:
  endpoints:
    web:
      exposure:
        include: health,info

server:
  port: ${PORT:8082}
  error:
    include-stacktrace: never
    include-message: never

logging:
  level:
    root: INFO

notification:
  transport: sesv2
  email:
    from: "PH Shoes <no-reply@phshoesproject.com>"
    subjectPrefix: "[PH-Shoes]"
    listUnsubscribe: "<mailto:unsubscribe@phshoesproject.com>"
    listUnsubscribePost: "List-Unsubscribe=One-Click"

  ses:
    region: ${AWS_REGION:ap-southeast-1}
    endpoint:
    configurationSet: ${SES_CONFIGURATION_SET:}

aws:
  region: ap-southeast-1
  endpoint:

verification:
  ttlSeconds: 900
  linkBaseUrl: ${VERIFICATION_LINK_BASE_URL:"https://www.phshoesproject.com/verify/"}
  verificationLink: ${VERIFICATION_LINK_NOT_ME_URL:"https://www.phshoesproject.com/verify/"}
  notMeLink: ${VERIFICATION_NOT_ME_URL:"https://www.phshoesproject.com/verify/"}
  unsubscribeLink: ${VERIFICATION_UNSUBSCRIBE_URL:"https://www.phshoesproject.com/unsubscribe-one-click"}

springdoc:
  api-docs.enabled: false
  swagger-ui.enabled: false

schema:
  auto-create: true
