app:
  cors:
    allowed-origins:
      - "http://localhost:5173"
      - "http://127.0.0.1:5173"
  frontend:
    base-url: "http://localhost:5173"
    verify-path: "/"
    unsubscribe-path: "/unsubscribe-confirmation"

feature:
  suppressionCheckEnabled: true

phshoes:
  security:
    email:
      hmac-pepper-b64: ${HMAC_PEPPER_B64:FVl9pBApQ2LgzIvgi7P/zMcc6BKoopvS}
      aes-key-b64:  ${AES_KEY_B64:8c2So7nkW7FInwpQfQYsk6NHg+9FJPxGSd701VXjSnQ=}
      legacy-peppers-b64: ${HMAC_LEGACY_PEPPERS_B64:}
    auth:
      dummy-bcrypt-hash: ${DUMMY_BCRYPT_HASH:$2a$10$u5m1eR4h1Vn0l2G0pC7l3u7b9vXl9lN8mTt4l7t0rQkN1G0u8Hh6C}
    jwt:
      enabled: true
      issuer: ph-shoes
      secret: change-me-dev-only
      access-ttl-seconds: 3600
  suppression:
    table-name: ${app.dynamo.tables.email_suppression:email_suppressions}
  api:
    rate-limit:
      enabled: false

aws:
  region: ap-southeast-1
  endpoint: ${AWS_ENDPOINT:http://localhost:4566}

spring:
  application:
    name: ph-shoes-user-account-service
  mvc:
    problemdetails:
      enabled: false
  devtools:
    restart:
      enabled: true
      additional-paths:
        - ../ph-shoes-user-accounts-service-core/target/classes

server:
  error:
    include-stacktrace: never
    include-message: always

auth:
  lock:
    maxFailures: 5
    durationSeconds: 900

logging:
  level:
    root: INFO

notification:
  transport: smtp
  smtp:
    host: mailhog
    port: 1025
    auth: false
    starttls: false
    connectionTimeoutMillis: 2000
    readTimeoutMillis: 2000
    writeTimeoutMillis: 2000
  email:
    from: "PH Shoes (DEV) <no-reply@local.test>"
    subjectPrefix: "[PH-Shoes DEV]"
    listUnsubscribe: "<mailto:unsubscribe@local.test>"
    listUnsubscribePost: "List-Unsubscribe=One-Click"
    unsubscribeLink: ${NOTIFICATION_UNSUBSCRIBE_LINK:http://localhost:8082/api/v1/user-accounts/unsubscribe}
  ses:
    webhook:
      enabled: true
      verify-signature: false
      auto-confirm-subscriptions: false
      allowed-topics: "*"

verification:
  ttlSeconds: 900
  verificationLink: http://localhost:8082/api/v1/verify/email
  notMeLink: http://localhost:8082/api/v1/verify/email/not-me
  unsubscribeLink: ${NOTIFICATION_UNSUBSCRIBE_LINK:http://localhost:8082/api/v1/user-accounts/unsubscribe}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    persistAuthorization: true

schema:
  auto-create: true

